{% extends "admin/bars.html.twig" %}

{% block contenpage %}
	<div class="container">
		<div class="page-title">
			<div class="title_left">
				<h5>
					{{ "backend.user.listing"|trans }}
				</h5>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							{{ "backend.expediteur.expediteur_listing"|trans }}</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a href="{{ path('beneficiaire_new') }}" class="btn btn-success">CREER</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<form action="{{ path('app_admin_groupaction_user') }}" id="grpaction" method="post" name="grpaction">
								<div class="form-group form-inline">
									<select class="form-control" name="action" required id="action_select">
										<option value="">
											{{ "backend.user.group_actions"|trans }}</option>
										<option value="{{"backend.user.deactivate"|trans }}">
											{{ "backend.user.deactivate"|trans }}</option>
										<option value="{{"backend.user.Activate"|trans }}">
											{{ "backend.user.Activate"|trans }}</option>
										<option value="{{"backend.user.delete"|trans }}">
											{{ "backend.user.delete"|trans }}</option>
									</select>
									<button class="btn btn-primary" type="submit">Go!!</button>
								</div>

							</form>
							<table id="example" class="display table table-striped table-bordered dataminetables">
								<thead>
									<th><input type="checkbox" id="select_all" name="select_all"></th>
									<th>Nom</th>
                                    <th>Postnom</th>
                                    <th>Prenom</th>
                                    <td>Sexe</td>
                                    <th>Telephone</th>
									<th>{{ "backend.user.modifier"|trans }}</th>

                                    {% if is_granted("ROLE_SUPERUSER") %}
									<th>{{ "backend.user.delete"|trans }}</th>
                                    {% endif %}
								</thead>
								<tbody>
                                    {% for beneficiaire in beneficiaires %}
										<tr>
											<td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ beneficiaire.id }}"></td>
                                            <td>{{ beneficiaire.nom }}</td>
                                            <td>{{ beneficiaire.postnom }}</td>
                                            <td>{{ beneficiaire.prenom }}</td>
                                            <td>{{ beneficiaire.sexe }}</td>
                                            <td>{{ beneficiaire.telephone }}</td>
											<td>
                                                <a href="{{ path('beneficiaire_edit', {'id': beneficiaire.id}) }}" class="btn btn-primary">
													<i class="fa fa-edit"></i>
												</a>
											</td>
                                            {% if is_granted("ROLE_SUPERUSER") %}
											<td>
                                                {{ include('admin/beneficiaire/_delete_form.html.twig') }}
											</td>
                                            {% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
