{% extends "admin/bars.html.twig" %}

{% block contenpage %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

<div class="body bg-default">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mes comissions</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12">
                        <div class="row">
                            <table id="example" class="display table table-striped table-bordered dataminetables">
                                <thead>
                                    <th>N°</th>
                                    <th>MONTANT COMMISSION</th>
                                    <th>MONTANT DEPOT</th>
                                    <th>CODE</th>
                                    <th>DATE DEPOT</th>
                                    <th>STATUT</th>
                                </thead>
                                <tbody>
                                    {% set counter = 0 %}

                                    {% for comission in comissions %}
                                    {% set counter = counter + 1 %}
                                    <tr>
                                        <td>{{counter}}</td>
                                        <td>{{comission.montant}}</td>
                                        <td>{{comission.montantCommission}}</td>
                                        <td>{{comission.codeDepot}}</td>
                                        <td>{{comission.dateDepot|date("d/m/Y")}}</td>


                                    </tr>


                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}