{% extends "admin/bars.html.twig" %}

{% block contenpage %}
<div class="container">
	<div class="page-title">
		<div class="title_left">
			<h5>
				{{ "backend.user.listing"|trans }}
			</h5>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-sm-8 offset-sm-4">
			<div class=" row">
				{% for label, messages in app.flashes(['danger', 'warning','success']) %}
				{% for message in messages %}

				<div class="col-sm-6 alert alert-{{ label }} alert-dismissible " role="alert"> {{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
				
					{% endfor %}
				
					{% endfor %}
				</div>
				</div>
				<div class="col-md-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								{{ "backend.retrait.retrait_listing"|trans }}</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12 mb-5">
									<div class="row">
										<div class="col-sm-4">
											<a href="{{ path('retrait_search') }}" class="btn btn-success text-white">Nouveau
												Retrait</a>
										</div>
										<div class="col-sm-8">
											<form action="{{ path('retrait_report') }}" method="POST" class="row">
												<div class="col-sm-6 offset-sm-2">
													<input type="text" name="code" id="code" class="form-control"
														placeholder="Saisissez le code du retrait pour imprimer">
												</div>
												<div class="col-sm-2">
													<button type="submit" class="btn btn-success">Imprimer</button>
												</div>
											</form>
										
										</div>
										</div>
										</div>
										<hr />
										<table id="example" class="display table table-striped table-bordered dataminetables">
											<thead>
												<th>Montant</th>
												<th>Code Dépot</th>
												<th>Date Retrait</th>
												<th>Beneficiaire_piece</th>
												<th>Expediteur</th>
												<th>Beneficiaire</th>
												{% if is_granted("ROLE_SUPERUSER") %}
												<th>{{ "backend.user.modifier"|trans }}</th>

									<th>{{ "backend.user.delete"|trans }}</th>
									{% endif %}
									</thead>
									<tbody>
										{% for retrait in retraits %}
										<tr>
											<td>{{ retrait.montantRetire }} $</td>
											<td>{{ retrait.depot.codeDepot }}</td>
										<td>{{ retrait.dateRetrait ? retrait.dateRetrait|date('Y-m-d H:i:s') : '' }}
										</td>
										<td>
											<strong>Type:</strong>{{ retrait.beneficiairepiecetype }}
											<hr>
											<strong class="text-danger">Num pièce:</strong> {{
											retrait.beneficiairepiecenumero }}

										</td>
										<td>
											<strong>Nom:</strong>{{ retrait.depot.expediteur.nom }}
											<hr>
											<strong class="text-danger">Ville:</strong>{{
											retrait.depot.user_depot.agence.city.name }}

										</td>
										<td><strong>Nom:</strong>{{ retrait.depot.beneficiaire.nom }}
											<hr>
											<strong class="text-danger">Ville:</strong>
											{{retrait.depot.ville.name}}
										</td>
										{% if is_granted("ROLE_SUPERUSER") %}
										<td>
											<a class="btn btn-primary" href="{{ path('retrait_edit', {'id': retrait.id}) }}">
												<i class="fa fa-edit"></i>
											</a>
											</td>

										<td>
											{{ include('admin/retrait/_delete_form.html.twig') }}
										</td>
										{% endif %}
										</tr>
										{% endfor %}
										</tbody>
										</table>
										</div>
										</div>
										</div>
										</div>
										</div>
										</div>
										{% endblock %}