{% extends 'base.html.twig' %}

{% block title %}Retrait index{% endblock %}

{% block body %}
    <h1>Retrait index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MontantRetire</th>
                <th>MontantRestant</th>
                <th>Date_retrait</th>
                <th>Beneficiaire_piece_type</th>
                <th>Beneficiaire_piece_image</th>
                <th>Beneficiaire_piece_numero</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for retrait in retraits %}
            <tr>
                <td>{{ retrait.id }}</td>
                <td>{{ retrait.montantRetire }}</td>
                <td>{{ retrait.montantRestant }}</td>
                <td>{{ retrait.dateRetrait ? retrait.dateRetrait|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ retrait.beneficiairePieceType }}</td>
                <td>{{ retrait.beneficiairePieceImage }}</td>
                <td>{{ retrait.beneficiairePieceNumero }}</td>
                <td>{{ retrait.libelle }}</td>
                <td>
                    <a href="{{ path('retrait_show', {'id': retrait.id}) }}">show</a>
                    <a href="{{ path('retrait_edit', {'id': retrait.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('retrait_new') }}">Create new</a>
{% endblock %}
