{% extends "admin/bars.html.twig" %}

{% block contenpage %}
<div class="container">
	<div class="page-title">
		<div class="title_left">
			<h5>
				{{ "backend.user.listing"|trans }}
			</h5>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						{{ "backend.depot.depot_listing"|trans }}</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12 mb-5">
							<div class="row">
								<div class="col-sm-4">
									<a href="{{ path('depot_new',{'user_email':app.user.email}) }}" class="btn btn-primary">Nouveau Dépot</a>
								</div>
								<div class="col-sm-8">
									<form action="{{ path('depot_report') }}" method="POST" class="row">
										<div class="col-sm-6 offset-sm-2">
											<input type="text" name="code" id="code" class="form-control"
												placeholder="Saisissez le code du dépot pour imprimer">
										</div>
										<div class="col-sm-2">
											<button type="submit" class="btn btn-dark">Imprimer</button>
										</div>
									</form>
						
								</div>
							</div>
						</div>
						<hr />
				
					<table id="example" class="display table table-striped table-bordered dataminetables">
							<thead>
								<th>Agence Env.</th>
								<th>Expediteur</th>
								<th>Beneficiaire</th>
								<th>Montant</th>
								<th>Commission</th>
								<th>Code Dépot</th>
								<th>Date Dépot</th>
								{% if is_granted("ROLE_SUPERUSER") %}
								<th>Statut</th>
								<th>Agence </th>
								<th>{{ "backend.user.delete"|trans }}</th>
								{% endif %}
							</thead>
							<tbody>
								{% for depot in depots %}
								<tr>


									<td>
										{{depot.user_depot.agence.name}}
									</td>
									<td>{{ depot.expediteur.nom }}</td>
									<td>{{ depot.beneficiaire.nom }}</td>
									<td><a href="#">{{depot.montant }} $</a></td>
									<td>{{ depot.montantCommission }} $</td>
									<td>{{ depot.codeDepot }}</td>

									<td>{{ depot.dateDepot ? depot.dateDepot|date('d/m/Y à H:i:s') : '' }}</td>
									{% if is_granted("ROLE_SUPERUSER") %}
									{% if depot.retrait %}
									<td style="color: red;">Traité</td>
									{% else %}
									<td style="color: seagreen;">En attente</td>
									{% endif %}
									<td>{{depot.retrait ? depot.retrait.userRetrait.agence.name:'-'}}</td>
									<td>
										{{ include('admin/depot/_delete_form.html.twig') }}
									</td>
									{% endif %}
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}