<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Rechargements</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12">
                    <div class="row">

                        <table class="display table table-striped table-bordered dataminetables">
                            <thead>
                                <th>N°</th>
                                <th>MONTANT RECHARGE</th>
                                <th>DATE RECHARGEMENT</th>
                                <th>CODE RECHARGEMENT</th>
                                <th>ANCIEN SOLDE</th>
                                <th>NOUVEAU SOLDE</th>
                                <th>SUPPRIMER</th>
                            </thead>
                            <tbody>
                                {% for credit in credits %}
                                <tr>
                                    <td>{{ credit.id }}</td>
                                    <td>{{ credit.creditAmount }}</td>
                                    <td>{{ credit.createdAt ? credit.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
                                    <td>{{ credit.creditCode }}</td>
                                    <td>{{ credit.holdSolde }}</td>
                                    <td>{{ credit.account.solde }}

                                    </td>


                                    <td> <a href="{{ path('credit_delete', {'id': credit.id}) }}"
                                            class="btn btn-danger disable-btn del-link" type="submit">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>