{% extends 'base.html.twig' %}

{% block title %}Expediteur index{% endblock %}

{% block body %}
    <h1>Expediteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Postnom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expediteur in expediteurs %}
            <tr>
                <td>{{ expediteur.id }}</td>
                <td>{{ expediteur.nom }}</td>
                <td>{{ expediteur.postnom }}</td>
                <td>{{ expediteur.prenom }}</td>
                <td>{{ expediteur.telephone }}</td>
                <td>
                    <a href="{{ path('expediteur_show', {'id': expediteur.id}) }}">show</a>
                    <a href="{{ path('expediteur_edit', {'id': expediteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('expediteur_new') }}">Create new</a>
{% endblock %}
